<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Hello World !</h1>
    <h3>My name is {{name}}</h3>
    <form action="/submitted" method="post">
        <label for="name">Your name :</label>
        <input type="text" id="name" name="name" placeholder="Say your name..."><br>
        <label for="surname">Your surname :</label>
        <input type="text" id="surname" name="surname" placeholder="Say your surname..."><br>
        <button type="submit">SAY !</button>
    </form>
</body>
</html>